body{
    font-family: "Microsoft JhengHei Light";
    background: #29292d;
    margin: 0px;
    padding: 0px;
}
/*--------------------header--------------------*/
header{
    text-align: center;
    background: rgb(42 42 42);
    width: 100%;
    height: 50px;
    display: flex;
}
.menu_icon{
    visibility: hidden;
    position: absolute;
    top: 5px;
    margin: 5px;
}
.menu_icon:hover{
    cursor: pointer;
}
.menu_icon_el{
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
.menu_list_item{
    margin-top: auto;
    color: white;
    margin-right: 10px;
}

.menu_list_item:hover{
    cursor: pointer;
    text-decoration: underline;

}

.search{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-top: auto;
    padding: 7px;

}
.header_input{

    background: rgb(42 42 42);
    color: white;
    border: 1px solid #e7e7e7;
    height: 18px;
}
button{
    font-family: "Microsoft JhengHei Light";
    text-align: center;
    cursor: pointer;

    background-color: rgb(42 42 42);
    color: white;
    border: 1px solid #e7e7e7;
}

/*--------------------drop down menu--------------------*/
.on_click_drop_down_menu{
    visibility: hidden;
}
.drop_down_menu{
    display: flex;
    flex-direction: column;
    background: #2a2a2a;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 56;
    /*padding: 20px;*/
}
.drop_menu_list_item{
    margin: 14px;
    color: white;
}
.drop_menu_list_item:hover{
    cursor: pointer;
    text-decoration: underline;

}
.menu_icon_close{
    margin: 5px;
    margin-top: 10px;
}
/*--------------------sticky logo--------------------*/
.logo{
    background: white;
    opacity: 0.85;
    display: flex;
    position: sticky;
    z-index: 49;
    top: -1px;
    text-align: center;
}
.sticky_name{
    position: sticky;
    z-index: 49;
    color: #a0726b;
    top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: color;
    animation-duration: 4s;
}
.sticky_line{
    margin-top: 9px;
    height: 2px;
    width: 47%;
    background-color: #2a2a2a;
    position: sticky;
    z-index: 49;
    top:9px;
    animation-name:line;                                               /*анимировать линии на скролл, чтобы они от центра расходились. И чтобы лого исчезало*/
    animation-duration: 3s;
    /*animation-iteration-count: infinite;*/
}
.line_before{
    margin-right: auto;
}
.line_after{
    margin-left: auto;
}
/*--------------------top camera photo--------------------*/
.photo{
    display: flex;
    background-image: url("fujifilm-x-t4-main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.product_name{
    color: #bfbbae;
    font-size: 18px;
    /*color: #a65863;*/
    margin-top: 480px;
    margin-left: 5%;
}

.camera_top_image{
    width: 100%;
    height: auto;
}
/*--------------------charactiristics block--------------------*/
.charactiristics{
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 60px;
}
.charactiristics>div{
    margin: 20px;
    margin-top: 30px;
    color: white;
}
/*--------------------pictire + text--------------------*/
.main_block_info_text{

    background-image: url("mountains_picture.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    padding: 15%;
}
.text{
    color: white;
    display: grid;
}
.title{
    text-align: center;
    margin: 10px;
    font-size: 19px;
}
.text_camera{
    text-align: center;
}

/*--------------------clickable camera features--------------------*/

.features_list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.feature_performance{
    background: #536585;
}
.feature_color{
    background: #99999b;
}
.feature_reliability{
    background: #99999b;
}
.feature_video{
    background: #99999b;
}
.features_list >div{
    margin: 3px;
    color: white;
}
.features_list > div:hover{
    cursor: pointer;
}
.feature>div{
    background: black;
    color: #99999b;
    display: grid;
}

.performance_info{
    position: absolute;
    /*visibility: hidden;*/
}
.color_info{
    position: absolute;
    visibility: hidden;
}
.reliability_info{
    position: absolute;
    visibility: hidden;
}
.video_info{
    position: absolute;
    visibility: hidden;
}
.void{
    visibility: hidden;
}
.feature_img{
    width: 90%;
    height: auto;
}
p{
    margin: 10%;
}

.feature_details:hover{
    text-decoration: underline;
    text-decoration-color: #536585 ;
    cursor: pointer;
}

/*--------------------footer--------------------*/
footer{
    margin-top: 20px;
    background: rgb(42, 42, 42);
    color: #99999b;
    float: end;
    display: grid;
}
li{
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 5px;
}
.footer_item:hover{
    text-decoration: underline;
}
.footer_item{
    margin-bottom: auto;
    font-size: 15px;
}
/*--------------------fixed buttons--------------------*/
.fixed_buttons{
    margin-left: auto;
    z-index: 99;
    position: fixed;
    top: 93%;
    right: 0%;
}
.faq>img{
    height: 15px;
    width: 15px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 14px;

}
.faq{
    width: 30px;
    height: 30px;
    background: #dfdfe0;
    border-radius: 50%;
    margin: 7px;
    display: flex;
    align-items: center;
    transition: width 500ms;
}
.faq:hover{
    width: 100px;
    border-radius: 45%;
    cursor: pointer;

}
.text_faq{
    /*visibility: hidden;*/
    position: absolute;
    left: 60px;
}

/*--------------------additional elems--------------------*/
.line{
    height: 1px;
    background: rgb(91, 100, 97);
    width: 90%;
    margin-bottom: 30px;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
}


@keyframes color {
    0%{color: #a0726b}
    50%{ color : red}
    99%{color: #a0726b}
}

@keyframes line {
    /*0%{width: 47%}*/
    from{width: 0%}
    to{width: 47%}

}
@keyframes pulse {
    from{width: 30px; height: 30px}
    to{width: 0px; height: 0px}
}
/*--------------------media query--------------------*/

@media (min-width: 1280px) {
    .info_block{
        width: 18.18182%;
    }
    .text_camera{
        font-size: 23px;
        margin-right: 10%;
        margin-left: 10%;
        line-height: 1.7;
    }
    footer{
        grid-template-columns: repeat(4, 1fr);
    }
    .features_list{
        grid-template-columns: repeat(4,1fr);
        font-size: 20px;
    }
    p{
        font-size: 23px;
    }
}
@media (max-width: 1280px) {
    .info_block{
        width: 40%;
    }
    .text_camera{
        font-size: 19px;
        line-height: 1.3;
    }
    footer{
        grid-template-columns: repeat(3, 1fr);
    }
    .features_list{
        grid-template-columns: repeat(4,1fr);
        font-size: 18px;
    }
    p{
        font-size: 19px;
    }
}

@media (min-width: 650px) {
    .photo{
        min-height: 100vh;
        max-height: 150vh;
    }
    .feature>div {
        grid-template-columns: 1fr 1fr;
    }
    .on_click_drop_down_menu{
        visibility: hidden;
    }

}

@media (max-width: 650px) {
    .menu{
        visibility: hidden;
    }
    .menu_icon{
        visibility: visible;
    }
    .search{
        z-index: auto;
    }
    .feature>div {
        grid-template-columns: 1fr;
    }
    .features_list{
        grid-template-columns: repeat(2,1fr);
        font-size: 16px;
    }
    p{
        font-size: 16px;
    }
}
@media (max-width: 560px) {
    .text_camera{
        font-size: 16px;
    }
    footer{
        grid-template-columns: repeat(2, 1fr);
    }
    .photo{
        max-height: 100vh;
    }
    .features_list{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
    .feature>div{
        grid-template-columns: 1fr;
    }
}